body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 20px;
}

.container {
    background-color: aliceblue;
    border: 1px lightgrey solid;
}

h1 {
    text-transform: uppercase;
}

input, button {
    margin: 5px;
    padding: 8px;
    font-size: 16px;
}

button {
    cursor: pointer;
    border: 1px solid lightblue;
    border-radius: 15px;
}

button:hover {
    background-color: lightblue;
}

button:active {
    background-color: lightpink;
}

p {
    margin: 1.5rem;
}